# Ambientes
.env
.env.backup
.env.local

# Dependências PHP
vendor/
composer.lock

# Logs e Temporários de Sistema
.DS_Store
Thumbs.db
error_log
*.log

# Mock de E-mail (Desenvolvimento Local)
public/email_mock.html

# IDEs
.idea/
.vscode/